scipy==1.11.4
torch>=2.1.0
torchaudio>=2.1.0
librosa>=0.10.1
soundfile>=0.12.1
sounddevice>=0.4.6
numpy>=1.24.0
matplotlib>=3.7.0
gin-config>=0.5.0
pytorch-lightning
einops>=0.7.0
cached-conv>=2.5.0
lmdb
udls
GPUtil
Flask
pytest
tensorboard>=2.14.0
